* {
    box-sizing: border-box; 
    margin: 0 auto;
    padding: 0;
}

body{
    font-family: "Outfit", sans-serif;
    background-color: hsl(217, 54%, 11%);
}


.main {
    max-width: 500;
}
.container {
    display: flex;
    margin-top: 10%;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.nft-img{
    align-items: center;
    max-width: 98%;
    max-height: 100%;
    margin: 2px;
    margin-top: 15px;
    margin-right: 5px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.card{
    background-color: hsl(216, 50%, 16%);
    width: 330px;
    height: 100%;
    margin: 10px;
    padding: 10px;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.imgfooter{
    /* display: flex; */
    border: 0.5px solid white;
    margin: 10px;
    border-radius: 30px;
    width: 40px;
    align-items: center;
    
}


/* PARTE DE EDIÇÃO DE TEXTO */
p{
    font-size: 12pt;
    color: hsl(215, 51%, 70%);
    text-align: left;
    margin: 15px 10px 5px;
    line-height: 1.5;
}

h1{
    margin: 15px 10px 10px;
    font-size: 18pt;
    color: hsl(0, 0%, 100%);
}

.subtitulo{
    display: flex;
    margin: 0px 10px;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: solid 0.7px hsla(215, 51%, 70%, 0.4);
    color:hsl(215, 51%, 70%);
}
#sub-text{
    display: flex;
    align-items: flex-start;
    margin: 10px 0px;
    padding: 10px;
}

#sub-text img{
    margin-right: 10px;
    margin-left: 0%;
}

#sub-text2{
    display: flex;
    align-items: flex-end;
    margin: 10px 0px;
    padding: 10px;
} 
#sub-text2 img{
    margin-right: 10px;
    margin-left: 0%;
}

#eth {
    color: hsl(178, 100%, 50%);
    align-items: left;
}

footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color:hsl(215, 51%, 70%);
}

footer > span{
    margin-left: 5px;
    color: white;
}



